/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
General
* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 60%;
    max-width: 1000px;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Demonstration Styles
* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
    background: #fd575a;
}

.demo-section {
    background: #c84547;
}

.float-box {
    background: white;
    height: 100px;
    width: 100px;
    margin: 0 15px 15px 0;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
Unique to Rule
* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
    padding-top: 200px;
}

.demo-section {
    height: 200px;
    margin-bottom: 20px;
}

.float-box {
    float: left;
}
