.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    margin-top: 100px;
}

a {
    display: inline-block;
    padding: 10px 25px;
    background: grey;
}

@media (max-width: 700px) {
    .wrapper {
        margin-top: 40px;
    }
}
